.about-information {
  @include wrap;
}

.about-information__title {
  color: #283645;
  font-size: 14px;
  line-height: 30px;

  text-align: center;
}

.about-information__info {
  color: #d22856;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  padding-left: 10px;
}

.about-information__text[type="text"]::-webkit-input-placeholder {
  color: #283645;
  line-height: 30px;
}

.about-information__input-wrapper {
  display: flex;
  flex-direction: column;
}

.about-information__label,
.about-information__info,
.about-information__text {
  width: 100%;
}

.about-information__text {
  padding: 10px 0 10px 10px;
}

@media (min-width: $tablet) {
  .about-information__label {
    display: flex;
    justify-content: flex-start;
    padding-bottom: 45px;
  }

  .about-information__info {
    width: 20%;
  }
}