.about-application {
  background-color: #1d2631;
}

.about-application__wrapper-background {
  display: flex;
  flex-direction: column;
  align-items: center;
    &::after {
      content: (" ");
      
      background-image: url("/img/iphone-hand-mobile@1x.png");
      background-repeat: no-repeat;
      background-position: 0 0;
      width: 320px;
      height: 286px;

      margin-top: 20px;
    }
}

.about-application__title {
  margin: 0;
  padding-top: 25px;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
  font-weight: 300;
  text-align: center;
}

.about-application__wrapper-background {
  background-image: url("/img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  margin-bottom: 20px;
}

.about-application__button-wrapper {
  width: 320px;
  padding: 0 20px;
  margin: 0 auto;
  display: flex;
}

.about-application__button-download {
  text-align: center;
  color: #ffffff;
  font-weight: 700;
  text-decoration: none;
  width: 100%;
  border: 3px solid #ffffff;
  border-radius: 28px;
  padding: 10px 0;
}

.about-application__social {
  @include list;
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin-top: 20px;

    & li:not(:first-child) {
      margin-left: 33px;
    }
}

.about-application__text {
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: #ffffff;
  text-align: center;

  margin-top: 0;
  margin-bottom: 0;
  padding: 24px 40px 36px 40px;
}

@media (min-width: $tablet) {
  .about-application__title {
    font-size: 40px;
    line-height: 48px;
    font-weight: 300;
  }

  .about-application__text {
    font-size: 18px;
    padding: 0;
    margin-top: 20px;
  }

  .about-application {
    background-image: url("/img/bg-back-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
  }

  .about-application__wrapper-background {
    background-image: none;
      &::after {
        content: (" ");
        display: none;
      }
  }

  .about-application__wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    @include wrap;
    position: relative;
      &::after {
        content: (" ");

        position: absolute;
        background-image: url(/img/iphone-hand-tablet@1x.png);
        background-repeat: no-repeat;

        width: 676px;
        height: 550px;
        right: 0;
        bottom: 0;
      }
  }
  
  .about-application__wrapper-content {
    width: 300px;
    padding: 95px 0 110px 0;
    z-index: 20;
  }

  .about-application__button-wrapper {
    padding: 0;
    width: 100%;
  }
}

@media (min-width: $desktop) {
  .about-application {
    background-image: url(/img/bg-back-desktop@1x.jpg);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
  }

  .about-application__wrapper {
    &::after {
      content: (" ");

      position: absolute;
      background-image: url("../../img/iphone-hand-desktop@1x.png");
      background-repeat: no-repeat;

      width: 883px;
      height: 644px;
      right: 0;
      bottom: 0;

    }
  }

  .about-application__wrapper-content {
    padding-top: 120px;
    padding-bottom: 122px;
  }

  .about-application__wrapper-background {
    margin-bottom: 63px;
  }

  .about-application__button-wrapper {
    margin-bottom: 67px;
  }

  .about-application__social {
    margin-bottom: 61px;
  }
}