.achievements-list {
  @include wrap;
  padding-top: 40px;
  padding-bottom: 40px;
}

.achievements-list__title {
  @include color-red;
  text-align: center;
}

.achievements-list__label {
  display: block;
}

.achievements-list__checkbox-text {
  color: #283645;
  line-height: 30px;
}

.achievements-list__checkbox-wrapper {
  width: 280px;
  margin: 0 auto;
    & label:not(:last-child) {
      margin-bottom: 30px;
    }
}

.achievements-list__checkbox-text {
  margin-left: 30px;
}

@media (min-width: $tablet) {
  .achievements-list__checkbox-wrapper {
    border: 2px solid #e5e5e5;
    padding: 10px 0 0 40px;
    width: 100%;
  }

  .achievements-list__title {
    padding-top: 10px;
  }

  .achievements-list__label {
    margin-bottom: 20px;
  }

  .achievements-list {
    order: 4;
  }
}

@media (min-width: $desktop) {
  .achievements-list {
    width: 100%;
  }

  .achievements-list__checkbox-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .achievements-list__label {
    margin-right: 40px;
  }
}
