.achievements-list {
  @include wrap;
  padding-top: 40px;
  padding-bottom: 38px;
  text-align: center;
}

.achievements-list__title {
  @include color-red;
  text-align: center;
  margin: 0 30px 37px 30px;
  font-weight: 400;
}

.achievements-list__label {
  display: block;
  position: relative;
}

.achievements-list__checkbox-text {
  color: #283645;
  line-height: 30px;
}

.achievements-list__checkbox-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
    & label:not(:last-child) {
      margin-bottom: 45px;
    }
}

.achievements-list__checkbox {
  display: none;
}

.achievements-list__checkbox-yes {
  position: absolute;
  left: 8px;
  top: 10px;
  display: none;
}

.achievements-list__checkbox-no {
  display: inline-block;
  vertical-align: middle;
  width: 38px;
  height: 38px;
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  margin-right: 26px;
    &:hover {
      border-color: #283645;
    }

    &:active {
      border-color: #d22856;
    }
}

.achievements-list__checkbox:checked ~ .achievements-list__checkbox-yes {
  display: inline-block;
  vertical-align: top;
}

@media (min-width: $tablet) {
  .achievements-list__checkbox-wrapper {
    border: 2px solid #e5e5e5;
    padding: 54px 0 30px 60px;
    width: 100%;
  }

  .achievements-list__title {
    margin: 0;
    background-color: #ffffff;
    padding: 0 34px;
    margin-bottom: -18px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    letter-spacing: 0.02em;
  }

  .achievements-list__label {
    margin-bottom: 20px;
  }

  .achievements-list {
    order: 4;
    padding-bottom: 0;
  }

  .achievements-list {
    padding-top: 0;
  }

  .achievements-list__checkbox-wrapper {
    & label:not(:last-child) {
      margin-bottom: 44px;
    }
  }

  .achievements-list__checkbox-no {
    margin-right: 14px;
  }
}

@media (min-width: $desktop) {
  .achievements-list {
    width: 100%;
  }

  .achievements-list__checkbox-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 10px;
  }

  .achievements-list__label {
    width: 33.333%;
    display: flex;
    align-items: center;
  }

  .achievements-list__label {
    &--burn {
      order: 4;
    }
    &--chuck {
      order: 2;
    }
    &--souvenirs {
      order: 5;
    }
    &--tower {
      order: 3;
    }
    &--hotel {
      order: 6;
    }
  }

  .achievements-list__label {
    width: 260px;
      &--selfie,
      &--burn {
        margin-right: 55px;
      }

      &--chuck,
      &--souvenirs {
        margin-right: 34px;
      }
  }

  .achievements-list__checkbox-no {
    margin-right: 20px;
  }
}
