.advantages__title-wrapper {
  background-color: #ffffff;
}

.advantages__list-wrapper {
  background-color: #f2f2f2;
}

.advantages__list {
  list-style: none;
}

.advantages__title {
  color: #283645;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
}

.advantages__functional-title {
  margin: 0px;
  font-size: 18px;
  line-height: 10px;
  color: #000000;
}

.advantages__functional {
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  color: #283645;
}
