.applications-travel {
  @include wrap;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 40px;
  order: 1;
}

.applications-travel__title {
  @include color-red;
  font-weight: 400;
  margin-bottom: 35px;
}

.applications-travel__radio-text {
  color: #283645;
  line-height: 30px;
  padding-left: 26px;
}

.applications-travel__label {
  display: block;
}

.applications-travel__radio {
  display: none;
}

.applications-travel__radio-off {
  display: inline-block;
  vertical-align: top;
  width: 39px;
  height: 39px;
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  border-radius: 50%;
}

.applications-travel__radio-on {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 39px;
  height: 39px;
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  border-radius: 50%;
  display: none;

    &::before {
      content: "";
      position: absolute;
      width: 15px;
      height: 15px;
      background-color: #d22856;
      border-radius: 50%;
      left: 10px;
      top: 10px;
    }
}

.applications-travel__radio-on {
  &:hover {
    border-color: #283645;
  }

  &:active {
    border-color: #d22856;
  }
}

.applications-travel__radio-off {
  &:hover {
    border-color: #283645;
  }

  &:active {
    border-color: #d22856;
  }
}

.applications-travel__radio:checked ~ .applications-travel__radio-on {
  display: inline-block;
  vertical-align: top;
}

.applications-travel__radio:checked ~ .applications-travel__radio-off {
  display: none;
}

.applications-travel__label-wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
    & label:not(:last-child) {
      margin-bottom: 36px;
    }
}

@media (min-width: $tablet) {
  .applications-travel {
    padding-top: 0;
    padding-bottom: 11px;
  }

  .applications-travel__label-wrap {
    border: 2px solid #e5e5e5;
    padding: 51px 40px 56px 58px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .applications-travel__title {
    background-color: #ffffff;
    margin-bottom: -10px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    padding: 0 27px;
    letter-spacing: 0.02em;
  }

  .applications-travel__label {
    display: flex;
    align-items: center;
  }

  .applications-travel__radio-text {
    padding-left: 20px;
  }
}

@media (min-width: $desktop) {
  .applications-travel {
    width: 431px;
    padding: 0;
    margin-left: 42px;
      &::before {
        top: 0;
        left: 15%;
      }
  }

  .applications-travel__label-wrap {
    padding-left: 72px;
  }
}
