.competition {
    background-color: #283645;
    background-image: url("../../img/bg-back-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

.competition-title {
  padding: 36px 28px 39px 28px;

  text-align: center;
  margin: 0;
  padding-top: 35px;

  color: #ffffff;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
}

@media (min-width: $tablet) {
  .competition-title {
    font-size: 50px;
    line-height: 60px;
  }

  .competition {
    background-image: url(../../img/bg-back-tablet@1x.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media (min-width: $desktop) {
  .competition {
    background-image: url(../../img/bg-back-desktop@1x.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .competition-title {
    max-width: 960px;
    padding: 75px 10px 90px 10px;
    margin: 0 auto;
  }
}
