.footer__social-item {
  list-style: none;
}

.footer__social-list {
  padding: 0;
  display: flex;
  justify-content: center;
}

.footer__logo-wrapper {
  text-align: center;
}

.footer__social-item-twitter {

    &::before {
      content: "";
      display: block;
      background-repeat: no-repeat;
      background-position: 14px 14px;
      width: 51px;
      height: 51px;
      background-image: url("/img/icon-twitter.svg");

      border: 3px solid #e9ebec;
      border-radius: 50%;
  }
}

.footer__social-item-facebook {

    &::before {
      content: "";
      display: block;
      background-repeat: no-repeat;
      background-position: 18px 13px;
      width: 51px;
      height: 51px;
      background-image: url("/img/icon-facebook.svg");

      border: 3px solid #e9ebec;
      border-radius: 50%;
  }
}

.footer__social-item-youtube {

    &::before {
      content: "";
      display: block;
      background-repeat: no-repeat;
      background-position: 17px 15px;
      width: 51px;
      height: 51px;
      background-image: url("/img/icon-youtube.svg");

      border: 3px solid #e9ebec;
      border-radius: 50%;
  }
}

.footer__copyright {
  display: flex;
  justify-content: center;
}

.footer__text {
  margin: 0;
  color: #283645;
  font-size: 14px;
  position: relative;
}


