.header {
  background-color: #283645;
}

.header__navigation {
  @include wrap;
}

.header__logo-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
}

.header__logo {
  width: 75px;
  height: 22px;

  background-image: url("/img/logo-pink-white-mobile.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.header__exit { /* временно */
  width: 25px;
  height: 25px;
}

@media (min-width: $tablet) {
  .header__logo {
    width: 147px;
    height: 40px;

    background-image: url("/img/logo-pink-white-tablet.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }
}

@media (min-width: $desktop) {

  .header__wrapper {
    max-width: 960px;
    margin: 0 auto;
    padding: 25px 10px 40px 10px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  .header__logo {
    width: 147px;
    height: 40px;

    background-image: url("/img/logo-pink-white-desktop.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  .header__logo-wrapper {
    padding: 0;
  }

  .header__exit{
    display: none;
  }

  .header__burger {
    display: none;
  }

  .header__navigation {
    margin: 0;
  }
}
