.header {
  background-color: #283645;
}

.header__logo-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px 2px 22px 20px;
}

.header__logo {
  width: 75px;
  height: 22px;

  background-image: url("/img/logo-pink-white-mobile.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.header__burger {
  margin: 0;
}

.header__burger-cross {
  cursor: pointer;
    &:hover {
      fill: #d22856;
    }
}

.header__burger-button {
  margin: 0;
  display: none;
}

@media (min-width: $tablet) {
  .header__logo {
    width: 147px;
    height: 40px;

    background-image: url("/img/logo-pink-white-tablet.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }
}

@media (min-width: $desktop) {

  .header__wrapper {
    max-width: 960px;
    margin: 0 auto;
    padding: 26px 5px 16px 10px;
    display: flex;
    align-items: baseline;
  }

  .header__logo {
    width: 147px;
    height: 40px;

    background-image: url("/img/logo-pink-white-desktop.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  .header__logo-wrapper {
    padding: 0;
    margin-right: 172px;
  }

  .header__exit{
    display: none;
  }

  .header__burger {
    display: none;
  }

  .header__navigation {
    margin: 0;
  }

  .header {
    position: absolute;
    width: 100%;
    background-color: rgba($color: #283645, $alpha: 0.3);
  }
}
