.local-information {
  @include wrap;
  padding-top: 36px;
  padding-bottom: 43px;
}

.local-information__info {
  @include color-red;
  padding-left: 22px;
}

.local-information__label,
.local-information__info,
.local-information__text {
  width: 100%;
}

.local-information__input-wrapper label:not(:first-child) {
  margin-top: 22px;
}

.local-information__text[type="text"]::-webkit-input-placeholder { /* Chrome / Opera / Safari / Android */
  color: #283645;
  line-height: 30px;
  padding-left: 10px;
}

.local-information__text[type="text"]:-ms-input-placeholder { /* Internet Explorer / Microsoft Edge */
  color: #283645;
  line-height: 30px;
  padding-left: 10px;
}

.local-information__text[type="text"]:-moz-placeholder { /* Firefox  */
  color: #283645;
  line-height: 30px;
  padding-left: 10px;
}

.local-information__text {
  padding: 19px 0 18px 20px;
}

.local-information__input-wrapper {
  display: flex;
  flex-direction: column;
}

.local-information__label {
  & .local-information__text {
    margin-top: 12px;
  }
}


@media (min-width: $tablet) {
  .local-information__input-wrapper {
    border: 2px solid #e5e5e5;
    padding: 40px 40px;
    position: relative;

    &::before {
      content: ("Контактная информация");
      position: absolute;
      top: -11px;
      left: 33%;
      background: #ffffff;
      padding: 0 5%;
      @include color-red;
    }
  }

  .local-information__input-wrapper label:not(:first-child) {
      margin-top: 40px;
  }

  .local-information__label {
    display: flex;
    flex-direction: column;
  }

  .local-information__text {
    order: -1;
    margin-bottom: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .local-information {
    order: 3;
  }
}

@media (min-width: $desktop) {
  .local-information {
    width: 100%;
  }

  .local-information__input-wrapper {
    flex-direction: row;
    align-items: center;
  }

  .local-information__input-wrapper label:not(:first-child) {
    margin-top: 0px;
    margin-left: 40px;
  }

  .local-information {
    padding-top: 40px;
  }
}
