.local-information {
  @include wrap;
  padding-top: 36px;
  padding-bottom: 43px;
}

.local-information__info {
  @include color-red;
  padding-left: 22px;
}

.local-information__label,
.local-information__info,
.local-information__text {
  width: 100%;
}

.local-information__input-wrapper label:not(:first-child) {
  margin-top: 22px;
}

.local-information__text[type="text"]::-webkit-input-placeholder {
  color: #283645;
  line-height: 30px;
  padding-left: 10px;
}

.local-information__text[type="text"]:-ms-input-placeholder {
  color: #283645;
  line-height: 30px;
  padding-left: 10px;
}

.local-information__text[type="text"]:-moz-placeholder {
  color: #283645;
  line-height: 30px;
  padding-left: 10px;
}

.local-information__text {
  padding: 19px 0 18px 11px;
  border: 2px solid #e5e5e5;
}

.local-information__input-wrapper {
  display: flex;
  flex-direction: column;
}

.local-information__label {
  & .local-information__text {
    margin-top: 11px;
  }
}

.local-information__title {
  display: none;
}

@media (min-width: $tablet) {
  .local-information__text[type="text"]::-webkit-input-placeholder {
    color: #283645;
    line-height: 30px;
    padding-left: 0px;
  }
  .local-information__input-wrapper {
    border: 2px solid #e5e5e5;
    padding: 43px 58px 35px 58px;
  }

  .local-information__input-wrapper label:not(:first-child) {
      margin-top: 38px;
  }

  .local-information__text {
    margin-bottom: 10px;
    padding: 19px 60px 22px 20px;
  }

  .local-information {
    order: 3;
    padding-top: 24px;
    text-align: center;
    padding-bottom: 48px;
  }

  .local-information__title {
    display: inline-block;
    vertical-align: middle;
    color: #d22856;
    background-color: #ffffff;
    font-size: 14px;
    line-height: 30px;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: -16px;
    text-align: center;
    letter-spacing: 0.02em;
    padding: 0 33px;
  }

  .local-information__wrapper {
    position: relative;
    order: -1;
  }

  .local-information__phone {
    position: absolute;
    width: 60px;
    height: 100%;
    background-color: #e5e5e5;
    z-index: 10;
    top: 0;
    right: 0;
    pointer-events: none;
      &::after {
        position: absolute;
        content: "";
        background-image: url("/img/icon-phone.svg");
        background-repeat: no-repeat;
        width: 20px;
        height: 20px;
        bottom: 18px;
        left: 50%;
        transform: translateX(-50%);
      }
  }

  .local-information__text-email {
    padding-bottom: 17px;
  }

  .local-information__email {
    position: absolute;
    width: 60px;
    height: 100%;
    background-color: #e5e5e5;
    z-index: 10;
    top: 0;
    right: 0;
    pointer-events: none;
      &::after {
        position: absolute;
        content: "";
        background-image: url("/img/icon-mail.svg");
        background-repeat: no-repeat;
        width: 18px;
        height: 13px;
        bottom: 21px;
        left: 50%;
        transform: translateX(-50%);
      }
  }

  .local-information__label {
    & .local-information__text {
      margin-top: 0;
    }
  }

  .local-information__text {
    margin: 0;
    height: 100%;
  }

  .local-information__label {
    display: flex;
    flex-direction: column;
  }

  .local-information__info {
    text-align: left;
    margin-top: 10px;
  }
}

@media (min-width: $desktop) {
  .local-information {
    width: 100%;
  }

  .local-information__input-wrapper {
    flex-direction: row;
    align-items: center;
    padding: 40px 30px 20px 58px;
  }

  .local-information__input-wrapper label:not(:first-child) {
    margin-top: 0px;
    margin-left: 74px;
  }

  .local-information {
    padding-top: 38px;
    padding-bottom: 45px;
  }

  .local-information__label {
    width: 371px;
  }

  .local-information__info {
    padding-left: 18px;
  }
}
