.main-form__about-information {
  background-color: #ffffff;
}

.main-form__achievements {
  background-color: #f2f2f2;
}

.main-form__applications {
  background-color: #f2f2f2;
}

.main-form__button {
  padding: 23px 46px 23px 45px;

  outline: none;
  border: none;

  color: #ffffff;
  background-color: #2aab6d;

  &:hover {
    background-color: #1c9b5e;
    cursor: pointer;
  }

  &:active {
    color: #61b98f;
  }
}

.main-form__footer {
  text-align: center;
}

.main-form__important-text {
  color: #283645;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;

  &--special {
    color: #d22856;
  }
}

@media (min-width: $tablet) {

  .main-form__wrapper-form {
    display: flex;
    flex-direction: column;
  }
  .main-form__achievements {
    background-color: inherit;
  }

  .main-form__applications {
    background-color: inherit;
  }

  .main-form__footer {
    @include wrap;
    display: flex;
    justify-content: space-between;
    order: 6;
  }
}

@media (min-width: $desktop) {
  .main-form__wrapper-form {
    margin: 0 auto;
    width: 960px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .main-form__footer {
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
