.navigation__nav-item {
  line-height: 32px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 76px 0 73px;
}

.navigation__nav-wrapper a[href]:hover {
  color: #d22856;
}

.navigation__nav-wrapper a[href]:active {
  color: #5b3149;
}

.navigation__nav-wrapper {
  border-top: 1px solid #485461;
  border-bottom: 1px solid #000000;
  padding: 15px 0;
}

.navigation__nav-list {
  @include list;
  text-align: center;
}

.navigation {
  background-color: #283645;
  position: relative;
}

.navigation__toggle {
  position: absolute;
  border: none;
  outline: none;
  background-color: transparent;
  right: 20px;
  top: -48px;
  cursor: pointer;
  padding: 0;
  color: #ffffff;
  display: none;

  &:hover {
    color: #d22856;
  }

  &:active {
    color: rgba(210, 40, 86, 0.3);
  }
}

@media (max-width: 959px) {
  .navigation__toggle {
    .js & {
      display: block;
    }
  }

  .navigation__nav-list {
    .js & {
      display: none;
    }

    .js .navigation--active & {
      display: block;
    }
  }
}

.navigation__cross {
  display: none;

  .navigation--active & {
    display: block;
  }
}

.navigation__burger {
  .navigation--active & {
    display: none;
  }
}

@media (min-width: $tablet) {
  .navigation__toggle {
    top: -64px;
  }
}

@media (min-width: $desktop) {
  .navigation {
    background-color: transparent;
  }

  .navigation__nav-wrapper {
    border: none;
  }

  .navigation__nav-list {
    display: flex;
    margin-top: 3px;
  }

  .navigation__nav-list li:not(:last-child) {
    margin-right: 80px;
  }

  .navigation__nav-item {
    padding: 0 0 8px 0;
  }

  .navigation__nav-wrapper a[href]:hover {
    border-bottom: 2px solid #ffffff;
  }

  .navigation__nav-item {
    font-size: 18px;
    line-height: 18px;
    font-weight: normal;
    text-transform: initial;
  }
}
