.navigation {
  background-color: #283645;
  position: relative;
}

.navigation__nav-item {
  line-height: 32px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 76px 0 73px;
}

.navigation__nav-wrapper {
  border-top: 1px solid #485461;
  border-bottom: 1px solid #000000;
  padding: 15px 0;
}

.navigation__nav-list {
  @include list;
  text-align: center;
  // display: none;
}

.navigation__toggle {
  position: absolute;
  border: none;
  background-color: transparent;
  background-image: url(../../img/icon-menu-cross.svg);
  width: 23px;
  height: 24px;
  right: 20px;
  top: -48px;
}

.navigation__toggle-active {
  background-image: url(../../img/icon-menu-burger.svg);
  width: 50px;
  height: 25px;
}

.navigation__menu-activ {
  display: none;
}

@media (min-width: $tablet) {

  .navigation__toggle {
    top: -64px;
  }
}

@media (min-width: $desktop) {

  .navigation__nav-wrapper {
    border: none;
  }

  .navigation__nav-list {
    display: flex;
  }

  .navigation__nav-list li:not(:last-child) {
    margin-right: 80px;
  }

  .navigation__nav-item {
    padding: 0;
      &:hover {
        background-color: #295E97;
      }
  }

  .navigation__nav-item {
    font-size: 18px;
    line-height: 18px;
    font-weight: normal;
    text-transform: initial;
  }
}
