.navigation__nav-list {
  @include list;
  text-align: center;
}

.navigation__nav-item {
  line-height: 32px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;

  text-decoration: none;
}

.navigation__nav-wrapper {
  border-top: 1px solid #485461;
  border-bottom: 1px solid #000000;
}

@media (min-width: $desktop) {

  .navigation {
    width: 650px;
  }

  .navigation__nav-wrapper {
    border: none;
  }

  .navigation__nav-list {
    display: flex;
  }

  .navigation__nav-list li:not(:first-child) {
    margin-left: 50px;
  }

  .navigation__nav-item {
    
      &:hover {
        background-color: #295E97;
      }
  }
}
