.research {
    display: none;
}

@media (min-width: $tablet) {
    .research {
    display: block;
    }

    .research__wrapper {
      width: 660px;
      padding: 0 20px;
      margin: 0 auto;
      display: flex;
      margin-top: 40px;
      margin-bottom: 40px;
    }

    .research__image-wrapper {
      order: -1;
      margin-right: 60px;
    }

    .research__image-wrapper {
      position: relative;
      &::before {
        content: ("");
        top: 72px;
        right: 24px;
        width: 253px;
        height: 253px;
        border-radius: 50%;
        position: absolute;
        border: 17px solid #d22856;
      }
      &::after {
        position: absolute;
        content: ("24");
        font-size: 120px;
        font-weight: 700;
        color: #d22856;

        top: 180px;
        left: 80px;
      }
    }

    .research__content-wrapper {
      width: 310px;
    }

    .research__title {
      font-size: 30px;
      line-height: 36px;
      font-weight: 700;
      color: #000000;
    }

    .research__text {
      font-size: 14px;
      line-height: 24px;
      color: #283645;
    }

    .research__link {
      font-size: 14px;
      line-height: 24px;
      color: #d22856;
    }
}

@media (min-width: $desktop) {
  .research__wrapper {
    @include wrap;
  }
}
