.share-story {
  margin-top: 45px;
  margin-bottom: 34px;
}

.share-story__title {
    color: #283645;
    font-size: 14px;
    line-height: 30px;
    margin: 0;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
  }

  .share-story__mobile-hidden {
    display: none;
  }

@media (min-width: $tablet) {
  .share-story {
    width: 470px;
    margin: 45px auto;
  }
}

@media (min-width: $desktop) {
  .share-story {
    width: 675px;
  }
}
