.slider-arrow__button--left {
  border: none;
  background: none;
  outline: none;
    &:before {
      content: "";
      position: absolute;
      background-image: url(/img/icon-review-arrow-left.svg);
      width: 22px;
      height: 41px;
      left: 0;
      bottom: 50%;
      cursor: pointer;
      opacity: 0.6;
    }

    &:hover {
      opacity: 0.3;
    }

    &:active {
      opacity: 0.1;
    }
}

.slider-arrow__button--right {
  border: none;
  background: none;
  outline: none;
    &:before {
      content: "";
      position: absolute;
      background-image: url(/img/icon-review-arrow-right.svg);
      width: 22px;
      height: 41px;
      right: 0;
      bottom: 50%;
      cursor: pointer;
      opacity: 0.6;
    }

    &:hover {
      opacity: 0.3;
    }

    &:active {
      opacity: 0.1;
    }
}

@media (min-width: $desktop) {
  .slider-arrow__button--left {
      &::before {
        bottom: 46%;
      }
  }

  .slider-arrow__button--right {
    &::before {
      bottom: 46%;
    }
  }

  .slider-arrow__button--right:before {
    &:hover {
      opacity: 30;
    }
  }
}
