.slider-review {
  background-color: #ffffff;
  @include wrap;
  text-align: center;
}

.slider-review__slide-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.slider-review__slide-list blockquote {
  margin: 0;
}

.slider-review__name-comment {
  color: #000000;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
}

.slider-review__comment {
  color: #283645;
  font-size: 14px;
  line-height: 30px;
}

.slider-price__standart {
  color: #ffffff;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.slider-price__price {
  color: #ffffff;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  text-transform: uppercase;
}

.slider-price__item {
  margin: 0;
  color: #283645;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  background-color: #ffffff;
}

.slider-review__arrow {
  display: none;
}

@media (min-width: $tablet) {
  .slider-review__slider-item {
    display: flex;
    flex-direction: column;
  }

  .slider-review__blockquote {
    order: -1;
  }
}

@media (min-width: $desktop) {
  .slider-review__arrow {
    display: block;
    cursor: pointer;
  }

  .slider-button {
    display: none;
  }

  .slider-review {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .slider-review__slide-list {
    width: 710px;
    padding: 40px 40px;
  }
}
