.slider-price__wrapper {
  @include list;
  @include wrap;
  display: flex;
  justify-content: center;
}

.slider-price__item-wrapper {
  text-align: center;
}

.slider-price__title {
  text-align: center;
}

.slider-price__item-wrapper {
  &--hidden {
    display: none;
  }
}