.upload {
  @include wrap;
  background-color: #f2f2f2;
  padding-top: 21px;
  padding-bottom: 39px;
}

.upload__button-action {
  display: flex;
  flex-direction: column;
}

.upload__button-edit {
  border: none;
  outline: none;
  background-color: inherit;
  cursor: pointer;
}

.upload__button-act {
  font-weight: 700;
  outline: none;
  background: inherit;
  cursor: pointer;
  border-radius: 40px;

    &--post {
      padding: 17px 0;
      border: 3px solid #d22856;
      color: #d22856;
      margin-bottom: 6px;
    }

    &--cancel {
      padding: 17px 0;
      border: 3px solid #e3e4e4;
      color: #e3e4e4;
    }
}

.upload__button-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 108px;
  position: relative;
  align-items: center;
}

.upload__range {
    &--fill {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
}

.upload__range--crop,
.upload__range--contrast {
  display: none;
}

.upload__control-wrapper {
  width: 33.33333%;
  text-align: center;
  &--fill {
    margin: 0 -12px;
  }
}

.upload__range--fill {
  display: none;
}

.upload__photo-winter {
  margin: 0 0 19px 0;
  width: 280px;
  height: 374px;
}

// кастомный range
.upload__scale-fill {
  position: absolute;
  left: 50%;
  bottom: -37px;
  transform: translateX(-50%);
  width: 240px;
  height: 2px;
  background-color: #283645;
    &:after {
      content: "";
      position: absolute;
      width: 14px;
      height: 14px;
      border: 2px solid #d22856;
      border-radius: 50%;
      background-color: #f2f2f2;
      top: 50%;
      transform: translateY(-50%);
      right: 35px;
      cursor: pointer;
    }
}

.upload__scale-fill:active:after {
  background-color: #d22856;
}
// кастомный range

.upload__icon-fill {
  fill-opacity: 0.3;
    &:hover {
      fill-opacity: 0.5;
    }
}

.upload__icon-contrast {
  fill-opacity: 0.3;
    &:hover {
      fill-opacity: 0.5;
    }
}

.upload__button-act--post {
  &:hover {
    background-color: #d22856;
    color: rgba(255, 255, 255, 1);
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}

.upload__button-act--cancel {
  &:hover {
    border-color: #b5b9be;
    color: #c4c6c8;
  }

  &:active {
    border-color: #b5b9be;
    background-color: #b5b9be;
    color: #cdd0d3;
  }
}

@media (min-width: $tablet) {
  .upload {
    display: flex;
    padding-top: 35px;
    padding-bottom: 52px;
  }

  .upload__button-edit {
    padding: 0;
  }

  .upload__block {
    display: flex;
    flex-direction: column;
    width: 50%;
  }

  .upload__range--crop,
  .upload__range--contrast {
    display: block;
  }

  .upload__range--fill {
    position: relative;
    left: 0;
  }

  .upload__button-wrapper {
    flex-direction: column;
    align-items: flex-start;
    margin: 28px 8px 93px 48px;
      & .upload__control-wrapper:not(:last-child) {
        margin-bottom: 49px;
      }
  }

  .upload__control-wrapper {
    text-align: unset;
    position: relative;
      &::after {
        content: ("");
        position: absolute;
        width: 100%;
        height: 1px;
        background-color: #dddfe0;
        bottom: -24px;
      }
  }

  .upload__photo-winter {
    margin: 22px 0 0 0;
    width: 300px;
    height: 400px;
  }

  // Установка Остальных 2 Инпутов
  .upload__range--crop,
  .upload__range--contrast {
    display: none;
  }

  .upload__control-wrapper--fill {
    margin: 0;
  }

  .upload__scale-fill {
    bottom: 10px;
  }

  .upload__icon-crop {
    width: 22px;
    height: 22px;
  }

  .upload__icon-fill {
    width: 24px;
    height: 22px;
    fill: #d22856;
    fill-opacity: 1;
      &:hover {
        fill-opacity: 1;
      }
  }

  .upload__icon-contrast {
    width: 16px;
    height: 16px;
    fill: #d22856;
    fill-opacity: 1;
      &:hover {
        fill-opacity: 1;
      }
  }

  .upload__control-wrapper {
    width: 100%;
    position: relative;
  }

  .upload__scale-fill {
    position: absolute;
    left: unset;
    right: 0;
    bottom: 50%;
    transform: none;
    width: 202px;
      &::after {
        content: ("");
        left: 25px;
      }
  }

  .upload__scale-crop,
  .upload__scale-contrast {
    right: 0;
    position: absolute;
    width: 202px;
    height: 2px;
    top: 50%;
    background-color: #283645;
      &::after {
        content: ("");
        position: absolute;
        width: 14px;
        height: 14px;
        border: 2px solid #d22856;
        border-radius: 50%;
        background-color: #f2f2f2;
        top: 50%;
        transform: translateY(-50%);
        right: 35px;
      }
  }

  .upload__scale-contrast {
    cursor: pointer;
      &:after {
        left: 95px;
      }
  }

  .upload__scale-crop {
    cursor: pointer;
      &:after {
        right: 42px;
      }
  }

  .upload__button-act {
    width: 263px;
    padding: 12px;
      &--post {
        margin-bottom: 30px;
      }
  }

  .upload__button-action {
    align-items: flex-end;
  }

  .upload__control-wrapper--contrast {
    padding-left: 5px;
  }

  .upload__scale-crop:active:after {
    background-color: #d22856;
  }

  .upload__scale-contrast:active:after {
    background-color: #d22856;
  }
}

@media (min-width: $desktop) {
  .upload {
    width: 940px;
  }

  .upload__block {
    margin-top: 16px;
    margin-left: 89px;
    width: 410px;
  }

  .upload__button-action {
    flex-direction: row;
    justify-content: space-between;
  }

  .upload__button-act {
    width: 183px;
    margin: 0;
  }

  .upload__button-act--post {
    margin-right: 30px;
  }

  .upload__icon-crop {
    width: 44px;
    height: 44px;
  }

  .upload__icon-fill {
    width: 48px;
    height: 43px;
  }

  .upload__icon-contrast {
    width: 32px;
    height: 32px;
  }

  .upload__scale-fill,
  .upload__scale-crop,
  .upload__scale-contrast {
    width: 288px;
    right: 29px;
  }

  .upload__scale-contrast {
    &::after {
      right: 114px;
      left: unset;
    }
  }

  .upload__scale-fill {
    &::after {
      right: 26px;
      left: unset;
    }
  }

  .upload__scale-crop {
    &::after {
      left: 71px;
    }
  }

  .upload__button-wrapper {
    margin: 0 0 164px 0;
      & .upload__control-wrapper:not(:last-child) {
        margin-bottom: 29px;
      }
  }

  .upload__photo-winter {
    margin-top: 18px;
    margin-left: 70px;
  }

  .upload__control-wrapper {
    &::after {
      bottom: -13px;
    }
  }
}
