.user-list {
  @include list;
  @include wrap;
  width: 100%;
}


.user-list__background-list {
  text-align: left;
  padding-left: 17px;
}

.user-list__nick {
  margin: 0;
  @include text-photo-userlist;
  font-weight: 700;
}

.user-list__public-time {
  @include text-photo-userlist;
  font-weight: 300;
  text-transform: uppercase;
}

.user-list__comment {
  @include text-photo-userlist;
  margin: 0;
}

.user-list__like {
  color: #d22856;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  background: inherit;
  cursor: pointer;

  border: none;
  outline: none;
}

.user-list__user-wrapper {
  margin-top: 20px;
  background-color: #f2f2f2;
}

.user-list__photo {
  width: 100%;
}

@media (min-width: $tablet) {
  .user-list {
    display: flex;
    flex-wrap: wrap;
      & li:nth-child(3),
      li:nth-child(5),
      li:nth-child(7) {
        margin-left: 20px;
      }
  }

  .user-list__user-wrapper {
    width: calc(50% - 10px);
  }

  .user-list__user-wrapper--panarama {
    width: 100%;
  }
}

@media (min-width: $desktop) {
  .user-list li:not(:first-child) {
    width: 300px;
    margin-left: 0;
  }

  .user-list li:nth-child(3),
  .user-list li:nth-child(4),
  .user-list li:nth-child(6),
  .user-list li:nth-child(7) {
    margin-left: 20px;
  }
}
