.user-list {
  @include list;
  @include wrap;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-list__background-list {
  background-color: #f2f2f2;
}

.user-list__nick {
  margin: 0;

  @include text-photo-userlist;
  font-weight: 700;
}

.user-list__public-time {
  @include text-photo-userlist;
  font-weight: 300;
  text-transform: uppercase;
}

.user-list__comment {
  @include text-photo-userlist;
}

.user-list__like {
  color: #d22856;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  background: inherit;
  cursor: pointer;

  border: none;
  outline: none;
}

.user-list__user-wrapper {
  text-align: center;
  margin-top: 20px;
}

@media (min-width: $tablet) {
  .user-list__wrapper {
    @include wrap;
    margin: 0 auto;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
  }

  .user-list__user-wrapper {
    margin-left: 20px;
    width: 280px;
  }
}

@media (min-width: $desktop) {
  .user-list__user-wrapper {
    width: 280px;
  }
}
