.user-photos__title-wrapper {
  background-image: url(/img/bg-back-mobile@1x.jpg);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;

    @media (min-resolution: $retina-dppx) {
      background-image: url(/img/bg-back-mobile@2x.jpg);
    }
}

.user-photos__title {
  color: #ffffff;
  font-size: 24px;
  line-height: 28px;
  font-weight: 300;
  margin: 0;
  padding-right: 5px;
  text-align: center;
  padding: 32px 10px 83px 10px;
}

@media (min-width: $tablet) {
  .user-photos__title-wrapper {
    background-image: url(/img/bg-back-tablet@1x.jpg);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
    height: 329px;

      @media (min-resolution: $retina-dppx) {
        background-image: url(/img/bg-back-tablet@2x.jpg);
      }
  }

  .user-photos__title {
    font-size: 50px;
    line-height: 60px;
    padding: 69px 10px 40px 10px;
  }
}

@media (min-width: $desktop) {
  .user-photos__title-wrapper {
    background-image: url(/img/bg-back-desktop@1x.jpg);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
    height: 395px;

      @media (min-resolution: $retina-dppx) {
        background-image: url(/img/bg-back-desktop@2x.jpg);
      }
  }

  .user-photos__title-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .user-photos__title {
    width: 360px;
    padding: 0;
    margin-top: 70px;
  }

  .user-photos {
    margin-bottom: 68px;
  }
}
